<div>
    <h2>
        <span jhiTranslate="jhipsterApp.tese.home.title">Tese</span>
        <button class="btn btn-primary float-right jh-create-entity create-tese-my-suffix" [routerLink]="['/', { outlets: { popup: ['tese-my-suffix-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="jhipsterApp.tese.home.createLabel">
            Create new Tese
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="tese">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="nota"><span jhiTranslate="jhipsterApp.tese.nota">Nota</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="link"><span jhiTranslate="jhipsterApp.tese.link">Link</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="alunoId"><span jhiTranslate="jhipsterApp.tese.aluno">Aluno</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="apresentacaoId"><span jhiTranslate="jhipsterApp.tese.apresentacao">Apresentacao</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let tese of tese ;trackBy: trackId">
                <td><a [routerLink]="['../tese-my-suffix', tese.id ]">{{tese.id}}</a></td>
                <td>{{tese.nota}}</td>
                <td>{{tese.link}}</td>
                <td>
                    <div *ngIf="tese.alunoId">
                        <a [routerLink]="['../aluno-my-suffix', tese.alunoId  ]" >{{tese.alunoId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="tese.apresentacaoId">
                        <a [routerLink]="['../apresentacao-my-suffix', tese.apresentacaoId  ]" >{{tese.apresentacaoId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../tese-my-suffix', tese.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'tese-my-suffix/'+ tese.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'tese-my-suffix/'+ tese.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
