<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myTeseLabel" jhiTranslate="jhipsterApp.tese.home.createOrEditLabel">Create or edit a Tese</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!tese.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="tese.id" readonly />
        </div>
        <div class="form-group" *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_SECRETARIA']">
                <label class="form-control-label" jhiTranslate="jhipsterApp.tese.nota" for="field_nota">Nota</label>
                <input type="text" class="form-control" name="nota" id="field_nota"
                    [(ngModel)]="tese.nota"  />
            </div>
        <div class="form-group" *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_ALUNO']">
            <label class="form-control-label" jhiTranslate="jhipsterApp.tese.link" for="field_link">Link</label>
            <input type="text" class="form-control" name="link" id="field_link"
                [(ngModel)]="tese.link"  />
        </div>
        <div class="form-group" *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_ALUNO']">
            <label class="form-control-label" jhiTranslate="jhipsterApp.tese.propostaTese" for="field_propostaTese">Proposta Tese</label>
            <select class="form-control" id="field_propostaTese" name="propostaTese" [(ngModel)]="tese.propostaTeseId">
                <option [ngValue]="null"></option>
                <ng-container *ngFor="let propostaTeseOption of propostatese; trackBy: trackPropostaTeseById">
                    <option [ngValue]="propostaTeseOption.id"  *ngIf="propostaTeseOption.flgaprovado">{{propostaTeseOption.id}}</option>
                </ng-container>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
