<div>
    <h2>
        <span jhiTranslate="jhipsterApp.areaPesquisa.home.title">Area Pesquisas</span>
        <button class="btn btn-primary float-right jh-create-entity create-area-pesquisa" [routerLink]="['/', { outlets: { popup: ['area-pesquisa-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="jhipsterApp.areaPesquisa.home.createLabel">
            Create new Area Pesquisa
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="areaPesquisas">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="nome"><span jhiTranslate="jhipsterApp.areaPesquisa.nome">Nome</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="descricao"><span jhiTranslate="jhipsterApp.areaPesquisa.descricao">Descricao</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let areaPesquisa of areaPesquisas ;trackBy: trackId">
                <td><a [routerLink]="['../area-pesquisa', areaPesquisa.id ]">{{areaPesquisa.id}}</a></td>
                <td>{{areaPesquisa.nome}}</td>
                <td>{{areaPesquisa.descricao}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../area-pesquisa', areaPesquisa.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'area-pesquisa/'+ areaPesquisa.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'area-pesquisa/'+ areaPesquisa.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
