<div>
    <h2>
        <span jhiTranslate="jhipsterApp.artigo.home.title">Artigos</span>
        <button class="btn btn-primary float-right jh-create-entity create-artigo" [routerLink]="['/', { outlets: { popup: ['artigo-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="jhipsterApp.artigo.home.createLabel">
            Create new Artigo
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="artigos">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="nome"><span jhiTranslate="jhipsterApp.artigo.nome">Nome</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="titulo"><span jhiTranslate="jhipsterApp.artigo.titulo">Titulo</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="datapublicacao"><span jhiTranslate="jhipsterApp.artigo.datapublicacao">Datapublicacao</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="link"><span jhiTranslate="jhipsterApp.artigo.link">Link</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="flgrelacionadopesquisa"><span jhiTranslate="jhipsterApp.artigo.flgrelacionadopesquisa">Flgrelacionadopesquisa</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="alunoId"><span jhiTranslate="jhipsterApp.artigo.aluno">Aluno</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let artigo of artigos ;trackBy: trackId">
                <td><a [routerLink]="['../artigo', artigo.id ]">{{artigo.id}}</a></td>
                <td>{{artigo.nome}}</td>
                <td>{{artigo.titulo}}</td>
                <td>{{artigo.datapublicacao | date:'mediumDate'}}</td>
                <td>{{artigo.link}}</td>
                <td>{{artigo.flgrelacionadopesquisa}}</td>
                <td>
                    <div *ngIf="artigo.alunoId">
                        <a [routerLink]="['../aluno', artigo.alunoId  ]" >{{artigo.alunoId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../artigo', artigo.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'artigo/'+ artigo.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'artigo/'+ artigo.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
