<div>
    <h2>
        <span jhiTranslate="jhipsterApp.professorBanca.home.title">Professor Bancas</span>
        <button class="btn btn-primary float-right jh-create-entity create-professor-banca" [routerLink]="['/', { outlets: { popup: ['professor-banca-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="jhipsterApp.professorBanca.home.createLabel">
            Create new Professor Banca
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="professorBancas">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="nota"><span jhiTranslate="jhipsterApp.professorBanca.nota">Nota</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="professorId"><span jhiTranslate="jhipsterApp.professorBanca.professor">Professor</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="bancaId"><span jhiTranslate="jhipsterApp.professorBanca.banca">Banca</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let professorBanca of professorBancas ;trackBy: trackId">
                <td><a [routerLink]="['../professor-banca', professorBanca.id ]">{{professorBanca.id}}</a></td>
                <td>{{professorBanca.nota}}</td>
                <td>
                    <div *ngIf="professorBanca.professorId">
                        <a [routerLink]="['../professor', professorBanca.professorId  ]" >{{professorBanca.professorId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="professorBanca.bancaId">
                        <a [routerLink]="['../banca', professorBanca.bancaId  ]" >{{professorBanca.bancaId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../professor-banca', professorBanca.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'professor-banca/'+ professorBanca.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'professor-banca/'+ professorBanca.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
