
<div *ngIf="banca">
    <h2><span jhiTranslate="jhipsterApp.banca.detail.title">Banca</span> {{banca.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="jhipsterApp.banca.flgaprovadasecretaria">Flgaprovadasecretaria</span></dt>
        <dd>
            <span>{{banca.flgaprovadasecretaria}}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterApp.banca.convidados">Professores convidados</span></dt>
        <div *ngFor="let professor of banca.professoresDTO.content">
            <dd [style.color]="professor.invite ? 'red' : 'green'">
                <span>{{professor.nome}} / {{professor.nota}}</span>
            </dd>
        </div>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'professor-banca-new/' + banca.id} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-plus"></span>&nbsp;<span jhiTranslate="jhipsterApp.banca.convidar">Convidar</span>
    </button>
</div>
