<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myApresentacaoLabel" jhiTranslate="jhipsterApp.apresentacao.home.createOrEditLabel">Create or edit a Apresentacao</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!apresentacao.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="apresentacao.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jhipsterApp.apresentacao.data" for="field_data">Data</label>
            <div class="input-group">
                <input id="field_data" type="text" class="form-control" name="data" ngbDatepicker  #dataDp="ngbDatepicker" [(ngModel)]="apresentacao.data"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="dataDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jhipsterApp.apresentacao.flgagendamentoaprovado" for="field_flgagendamentoaprovado">Flgagendamentoaprovado</label>
            <input type="checkbox" class="form-control" name="flgagendamentoaprovado" id="field_flgagendamentoaprovado"
                [(ngModel)]="apresentacao.flgagendamentoaprovado"  />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jhipsterApp.apresentacao.banca" for="field_banca">Banca</label>
            <select class="form-control" id="field_banca" name="banca" [(ngModel)]="apresentacao.bancaId">
                <option [ngValue]="null"></option>
                <option [ngValue]="bancaOption.id" *ngFor="let bancaOption of bancas; trackBy: trackBancaById">{{bancaOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
